In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
#Reindex = creates new index with null value by default
ser2 = ser1.reindex(['A', 'X' ,'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
X    NaN
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
#fill_value for a specific value
ser3 = ser2.reindex(['A', 'B', 'C', 'E', 'G'], fill_value = 0)
ser3

A    1.0
B    2.0
C    3.0
E    NaN
G    0.0
dtype: float64

In [21]:
ser4 = Series(['USA', 'Mexico', 'Canada'], index = [0,5,10])
ser4

0        USA
5     Mexico
10    Canada
dtype: object

In [25]:
# 'ffill' stands for forward fill. Forward fills all null index values
ser4.reindex(range(15), method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [29]:
dframe = DataFrame(randn(25).reshape((5,5)), index = [0,1,2,3,4], columns = ['A', 'B', 'D','E', 'F'])

dframe

          A         B         D         E         F
0  0.021224 -0.010865 -0.990197 -0.610892  0.831589
1  0.912127  0.729927  1.250108 -2.312097  1.007690
2  0.665884  1.523285  0.427981 -0.288481 -0.641263
3 -0.395699  0.656817  0.935187 -0.280102 -1.525901
4 -0.567742 -2.196790  0.578405  0.697332 -0.067876

In [34]:
#index = rows always
dframe2 = dframe.reindex([0,1,2,3,4,5])
dframe2

          A         B         D         E         F
0  0.021224 -0.010865 -0.990197 -0.610892  0.831589
1  0.912127  0.729927  1.250108 -2.312097  1.007690
2  0.665884  1.523285  0.427981 -0.288481 -0.641263
3 -0.395699  0.656817  0.935187 -0.280102 -1.525901
4 -0.567742 -2.196790  0.578405  0.697332 -0.067876
5       NaN       NaN       NaN       NaN       NaN

In [35]:
dframe3 = dframe2.reindex(columns = ['A', 'X', 'D'])
dframe3

          A   X         D
0  0.021224 NaN -0.990197
1  0.912127 NaN  1.250108
2  0.665884 NaN  0.427981
3 -0.395699 NaN  0.935187
4 -0.567742 NaN  0.578405
5       NaN NaN       NaN

In [60]:
#Simple way to reindex dataframes

#NOT WORKING
new = ['A', 'B', 'C', 'D', 'E', 'F']
dframe.ix[[0,1,2,3,4], new]

C:\Users\anous\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

KeyError: "['C'] not in index"