In [20]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

#Mapping used for easy data cleaning

In [2]:
dframe = DataFrame({'key1': ['A', 'B', 'C'],
                    'city': ['LB', 'MSP', 'Lawrence']})
dframe

       city key1
0        LB    A
1       MSP    B
2  Lawrence    C

In [6]:
#We want to map cities to the states
#First we create a dictionary
#Added extra entries just to check

statemap = {'Lawrence': 'Kansas', 'LB': 'California', 'NYC': 'New York', 'MSP': 'Minnesota'}
statemap

{'LB': 'California',
 'Lawrence': 'Kansas',
 'MSP': 'Minnesota',
 'NYC': 'New York'}

In [8]:
#Create a new column State
#Map the City column using statemap dictionary

dframe['States'] = dframe['city'].map(statemap)
dframe

       city key1      States
0        LB    A  California
1       MSP    B   Minnesota
2  Lawrence    C      Kansas

In [18]:
ser = Series(['California', 'Minnesota', 'Kansas'], index = ['LB', 'MSP', 'Lawrence'])
ser

LB          California
MSP          Minnesota
Lawrence        Kansas
dtype: object

In [19]:
#Index of the series has to match with the values in the City column

dframe['New'] = dframe['city'].map(ser)
dframe

       city key1      States         New
0        LB    A  California  California
1       MSP    B   Minnesota   Minnesota
2  Lawrence    C      Kansas      Kansas